h1, h2, h3, h4, h5 {
  font-family: "Pacifico", cursive;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

p {
  font-family: system-ui;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  background: none;
  text-align: center;
  position: absolute;
  top: 57px;
  left: calc(50% - 276px);
}
header nav {
  width: 553px;
  height: 19px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  font-family: system-ui;
  margin-top: 40px;
}
header nav a {
  color: #fff;
  line-height: 16px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
header nav a:hover {
  text-shadow: 1px 1px 20px white, 0 0 25px white, 0 0 9px white;
}

.home-page {
  background: url(../images/Image.png), no-repeat;
  background-size: cover;
  text-align: center;
  padding: 282px 377px 103px 347px;
}
.home-page h1 {
  font-size: 193px;
  line-height: 201px;
  width: 718px;
  height: 189px;
  color: #fff;
  margin: 0 auto;
}
.home-page p {
  font-size: 31px;
  color: #fff;
  width: 712px;
  height: 58px;
  text-align: center;
  font-weight: 100;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 47px;
}

.popular {
  background: url(../images/Image\(3\).png);
  background-size: cover;
  padding: 90px 120px 133px 116px;
}
.popular h2 {
  color: #E8565E;
  font-size: 95px;
  width: 329px;
  height: 138px;
  line-height: 103px;
  margin: 0 auto;
}
.popular p {
  font-size: 29px;
  color: #333333;
  width: 757px;
  height: 58px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}
.popular .popular-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular .popular-content .card {
  width: 335px;
  text-align: center;
  height: 473px;
  margin-top: 72px;
}
.popular .popular-content .card h3 {
  font-size: 49px;
  height: 72px;
  line-height: 57px;
  color: #E8565E;
  margin-top: 7px;
  margin-bottom: 8px;
}
.popular .popular-content .card p {
  color: #333333;
  font-size: 21px;
  width: 317px;
  height: 51px;
  line-height: 24px;
}